body,
ul,
li,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1rem;
    font-family: Arial;
}

a {
    text-decoration: none;
    color: white;
}

header {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

nav {
    display: flex;
}

.logos-left {
    display: flex
}

.logos-left li {
    margin-left: 16px;
    padding: 5px;
}

.logos-left li a {
    display: block;
}

.redes-sociais ul {
    display: flex;
    padding-left: 16px;
}

.redes-sociais ul li {
    padding: 5px;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 16px;
}

.menu li a {
    display: block;
    padding: 10px;
}