@font-face {
    font-family: "Henrik-Regular";
    src: url('/fonts/Henrik-Regular.otf');
}

body {
    background-color: #14181d;
    width: 100%;
    height: 100%;
}

.header-1 {
    /* background-color: pink; */
    width: 100%;
    height: 60px;
}

.logo-hex {
    /* background-color: purple; */
    display: inline-block;
    float: left;
    padding-left: 25px;
    /* width: 4%; */
    /* padding: 16px; */
}

.logo-hex img {
    max-width: 55px;
    max-height: 55px;
    width: auto;
    height: auto;
}

.logo-nome ul li {
    display: inline-block;
    float: left;
    /* width: 25%;
    size: 10%; */
}

.logo-nome img {
    max-height: 35px;
    padding-left: 25px;
    padding-top: 14px;
    height: auto;
    width: auto;
    padding-right: 30px;
    /* padding: 16px; */
}

.icons-redes-sociais {
    vertical-align: middle;
    text-align: center;
}

.icons-redes-sociais ul li {
    display: inline-block;
    float: left;
    width: 3%;
    position: relative;
    padding: 10px;
}

.content-links {
    display: inline-block;
    padding: 16px;
}

.content-links a {
    color: white;
    text-decoration: none;
    padding: 16px;
}

.content-links a:hover {
    color: #6fe66c;
    /* background-color: black; */
}

.idioma {
    display: inline-block;
    padding: 16px;
}

.idioma a {
    background-color: #6fe66c;
    color: white;
    text-decoration: none;
    padding: 10px;
}