* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html,
body {
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    background-color: #14181d;
}

ul,
li,
p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1rem;
    font-family: Arial;
}

a {
    text-decoration: none;
    color: white;
}

header {
    /* background-color: gray; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 50px 20px 50px;
}

nav {
    display: flex;
    align-items: center;
}

nav li img {
    width: 4vw;
    align-items: center;
}

nav li a img {
    width: 12vw;
}

.logos-left {
    display: flex;
    align-items: center;
}

.logos-left li a {
    display: block;
    margin-left: 50px;
}

.redes-sociais ul {
    display: flex;
    padding-left: 50px;
}

.redes-sociais ul li {
    padding: 10px;
}

.redes-sociais ul li a img {
    width: 1.6vw;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 16px;
}

.menu li a {
    display: block;
    padding: 10px;
}

.menu li .on {
    background-color: #67d665;
}

.grid1 {
    display: grid;
    grid-template-columns: 5fr 5fr 1fr;
    margin: 0 auto;
    color: white;
    padding: 50px 20px 20px 50px;
}

.grid1 img {
    width: 30vw;
}

.my-name p {
    font-size: 1.8rem;
}

.my-name .subtitle {
    font-size: 1.2rem;
}


/* Single scroll */

.links {
    width: 100%;
    height: 50px;
    position: fixed;
    display: flex;
}

.links label {
    padding: 10px 0;
    flex-grow: 1;
    cursor: pointer;
    transition: all .4s;
    text-align: center;
    font-family: 'Arial';
    font-size: 100%;
    color: #fff;
}

.links label:hover {
    background-color: rgba(255, 255, 255, .2);
}

.scroll {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.sections {
    transition: all .4s;
}

input {
    display: none;
}

.bloco {
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

#rd_01 {
    background-color: #7fbd42;
}

#rd_02 {
    background-color: #69f;
}

#rd_03 {
    background-color: #faa;
}

#rd_04 {
    background-color: #aaa;
}

#rd_05 {
    background-color: #414950;
}

#rd_02:checked~.sections {
    margin-top: -100vh;
}

#rd_03:checked~.sections {
    margin-top: -200vh;
}

#rd_04:checked~.sections {
    margin-top: -300vh;
}

#rd_05:checked~.sections {
    margin-top: -400vh;
}

.bloco img {
    width: 40%;
}